Email CleARING.json
{
  "name": "Email CleARING",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9,
              "triggerAtMinute": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -320,
        -32
      ],
      "id": "2ca0553b-450b-499d-9581-bc5786debad3",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "simple": false,
        "filters": {
          "q": "older_than:60d"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -96,
        -32
      ],
      "id": "2f347e72-192d-4435-ab38-1d66bb54ee93",
      "name": "Get many messages",
      "webhookId": "4f28c787-2d15-4019-a164-b85d2c9be55e",
      "retryOnFail": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "qpsWO8cbprGsIStP",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a7c2e9cc-34af-4aca-85e0-08abac370b0f",
              "leftValue": "={{ true }}",
              "rightValue": "={{ \n  $json[\"labelIds\"].includes(\"UNREAD\") &&\n  (\n    $json[\"labelIds\"].includes(\"CATEGORY_PROMOTIONS\") ||\n    $json[\"labelIds\"].includes(\"CATEGORY_SOCIAL\") ||\n    $json[\"labelIds\"].includes(\"CATEGORY_UPDATES\")\n  )\n}}",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        128,
        -32
      ],
      "id": "9dbdc3a5-ca3e-4a5f-b7b4-ce8a0a128344",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json[\"id\"] }}",
        "labelIds": [
          "Label_4031205296101542973"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        368,
        -48
      ],
      "id": "05a74a55-2785-42e4-b885-604f1d215765",
      "name": "Add label to message",
      "webhookId": "0b39caaa-fc20-4756-85ea-0c92636d821f",
      "credentials": {
        "gmailOAuth2": {
          "id": "qpsWO8cbprGsIStP",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Add label to message": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ca38bfa5-71fe-4575-a6c7-a8bb4322ba0d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9159e85117b62a3cdbae71b1e673ed6e9cca8cade9c6fce46a46ea412d18a9f2"
  },
  "id": "w5Klfqk79kE5NiMj",
  "tags": []
}